@charset "utf-8";
/* CSS Document */
/*******************  pagination  ******************/
.pagclass{
	padding: 0px 5px;
}
.pagclass table td,.pagclass table th{
	font-size: 12px;
}
.pagination a:hover,.pagination .active a {
	background-color: #f5f5f5;
}

.pagination .active a {
	color: #999999;
	cursor: default;
	border-color: #999999
}

.pagination .disabled span,.pagination .disabled a,.pagination .disabled a:hover
	{
	color: #999999;
	background-color: transparent;
	cursor: default;
}

.pagination li:first-child a {
	border-left-width: 1px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.pagination-centered {
	text-align: center;
}

.pagination-right {
	text-align: right;
}

.pager {
	margin-left: 0;
	margin-bottom: 18px;
	list-style: none;
	text-align: center;
	*zoom: 1;
}

.pager:before,.pager:after {
	display: table;
	content: "";
}

.pager:after {
	clear: both;
}

.pager li {
	display: inline;
}

.pager a {
	display: inline-block;
	padding: 5px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.pager a:hover {
	text-decoration: none;
	background-color: #f5f5f5;
}

.pager .next a {
	float: right;
}

.pager .previous a {
	float: left;
}

.pager .disabled a,.pager .disabled a:hover {
	color: #999999;
	background-color: #fff;
	cursor: default;
}

.pagination {
	margin: 10px 0;
}

/*******************  pagination  ******************/

.tree {
	width: 16px;
	height: 27px;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
}

.panel-heading {
	padding: 5px;
}

.panel {
	margin-bottom: 0px;
}
.table{
	margin: 0px;
}
.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td
	{
	padding-bottom: 8px;
	padding-top: 8px;
}
.ly_tree {
	width: 16px;
	height: 27px;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
}
.table-bordered>thead>tr>th, .table-bordered>thead>tr>td{
	border-bottom-width:0px;
}
.wj-glyph-up{
 display: inline-block;
  border-right: .4em solid transparent;
  border-bottom: .5em solid;
  border-left: .4em solid transparent;
  opacity: .75;
  margin-left: 3px;
}
.wj-glyph-down{
  display: inline-block;
  border-top: .5em solid;
  border-right: .4em solid transparent;
  border-left: .4em solid transparent;
  opacity: .75;
  margin-left: 3px;
}